version: '3.8'

services:
  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: always
    volumes:
      - nextcloud_data:/var/www/html
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=yourpassword
      - MYSQL_ROOT_PASSWORD=yourpassword
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST="your domain here"
    ports:
      - 80:80
    depends_on:
      - db
    networks:
      - nextcloud_network

  db:
    image: mariadb:latest
    container_name: nextcloud_db
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=yourpassword
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=yourpassword
    networks:
      - nextcloud_network

networks:
  nextcloud_network:
    driver: bridge

volumes:
  nextcloud_data:
  db_data:

